@mixin p-list {
  $padding-left: 2.5rem;

  counter-reset: directions-counter;

  p {
    position: relative;
    padding-left: $padding-left;
  }

  p::before {
    counter-increment: directions-counter;
    content: counter(directions-counter) '.';
    display: block;
    position: absolute;
    top: 0;
    left: 0;
    width: $padding-left;
    padding-right: .75rem;
    text-align: right;
  }
}
