@import './config';
@import './mixins';

html, body {
  height: 100%;
  padding: 0;
  margin: 0;
}
#app {
  min-height: 100%;
  width: 100%;
}
label {
  margin-bottom: 0;
  font-size: 0.875rem;
}
fieldset {
  border: 1px solid #c2c2c2;
  padding: 16px;

  legend {
    width: auto;
    font-size: 1.125rem;
    padding: 0 8px;
    margin-left: 10px;
    background: #aaa;
    border-radius: 3px;
    color: #fff;
  }
}
.font-size-sm {
  font-size: 0.8rem;
}
.font-size-lg {
  font-size: 1.2rem;
}
.font-weight-book {
  font-weight: 600;
}
.font-weight-semi-bold {
  font-weight: 600;
}
.w-auto {
  width: auto !important;
}
.icon {
  line-height: 1;
  height: 1em;
  width: 1em;
  vertical-align: middle;
  display: inline-block;
  position: relative;
}
.p-list {
  @include p-list;

  p {
    margin-bottom: 0;
  }
}
.section-label {
  font-size: 1.25rem;
  font-weight: 300;
  border-radius: 8px 0 8px 0;
  background-color: $secondary;
  display: inline-block;
  color: $white;
  padding: map-get($spacers, 1) map-get($spacers, 3);
  margin-bottom: map-get($spacers, 3);
}

.text-medium {
  font-size: 1rem !important;
}
.text-xx-small {
  font-size: 0.5625rem !important;
}
.text-x-small {
  font-size: 0.625rem !important;
}
.text-small {
  font-size: 0.8125rem !important;
}
.text-large {
  font-size: 1.25rem !important;
}
.text-x-large {
  font-size: 1.75rem !important;
}
.text-xx-large {
  font-size: 2.25rem !important;
}
