
label {
  margin-bottom: 0;
  font-size: 0.875rem;
}
fieldset {
  border: 1px solid #c2c2c2;
  padding: 16px;

  legend {
    width: auto;
    font-size: 1.125rem;
    padding: 0 8px;
    margin-left: 10px;
    background: #aaa;
    border-radius: 3px;
    color: #fff;
  }
}
.font-size-sm {
  font-size: 0.8rem;
}
.font-size-lg {
  font-size: 1.2rem;
}
